/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .outermost-container {
        max-width: unset;
    }

    .logo-container {
        box-shadow: unset;
    }

}