/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    .logo-and-nav-container {
        justify-content: space-between;
        width: unset;
        /* margin: 0 50px; */
        margin: 0 4% 0 10%;
    }

    .logo-container {
        width: unset;
    }

    .logo-and-nav-container .logo-container {
        box-shadow: unset;
    }

    nav {
        display: block;
        width: 30%;
        display: flex;
        justify-content: space-between;
        align-items: center;  
        font-size: 16px;             
        font-weight: 500;
        font-family: Hellix;
        margin-right: 65px;
    }

    nav a {
        text-decoration: none;
    }       

    /* ************************** */
    /*          Panel-1           */
    /* ************************** */

    .panel-1 {
        flex-direction: row-reverse;
    }

    .panel-1, .panel-2 {
        margin-left: 10%;
    }

    

    .text-content {
        padding-top: 100px;
        align-items: flex-start;
    }

    .panel-1 h1, .panel-1 p {
        text-align: left;
    }       

    .panel-1 h1 {
        margin: 0 0 20px 0;
    }

    /* ************************** */
    /*          Panel-2           */
    /* ************************** */

    .panel-2 {
        flex-direction: row;
        margin-right: 100px;
        /* border: 1px solid black; */
    }

    .panel-2-top {
        /* border: 1px solid red; */
        margin: unset;
        width: 50%;
    }

    .panel-2 img {
        /* border: 1px solid magenta; */
        margin: unset;
    }

    .panel-2-bottom {
        /* border: 1px solid green; */
        display: flex;
        align-items: center;
        border-radius: 50px;
        margin: unset;
        width: 50%;
    }

    .panel-2 .text-content {
        /* border: 1px solid purple; */
        margin: 0 16% 0 12%;
        padding: unset;
    }    

    /* ************************** */
    /*          Panel-3           */
    /* ************************** */

    .panel-3 {
        flex-direction: row-reverse;  
        justify-content: space-around;
        padding: unset;     
        /* border: 1px solid red; */
    }

    .panel-3 img {
        width: 36%;
        margin-right: -100px;
    }

    .panel-3 h2 {
        text-align: left;
    }

    .panel-3 p {
        text-align: left;
        margin: unset;
    }

    .panel-3 .text-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 32%;
        padding: unset;
        margin-left: -100px;
    }    

    /* ************************** */
    /*          Panel-4           */
    /* ************************** */

    .panel-4 {
        margin-right: 5%;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
    }

    .panel-4 h2 {
        order: 1;
        margin: 0 0 40px 10%;
        /* border: 1px solid red; */
        
    }

    .panel-4 .button {
        order: 2;
        margin: 0 50px 0 0 ;
        /* border: 1px solid black; */
    }

    .panel-4 .text-content {
        order: 3;
        margin: 0 0 0 10%;
        padding: 0;
        width: 54%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        /* border: 1px solid black; */
    }

    .sub-panel {
        /* border: 1px solid red; */
        width: 700px;
        flex-grow: 1;
        
    }

    .panel-4 img {
        order: 4;
        width: 35%;
        max-height: 522px;
        height: auto;
        object-fit: contain;

        margin: unset;
        /* border: 1px solid black; */
        
    }

    .sub-panel {
        /* box-sizing: border-box; */
        width: 30%;
        min-height: 171px;
    }

    .divider {
        width: 85%;
        margin: 100px 0 0 10%;
    }    

    /* ************************** */
    /*          Panel-5 - Footer  */
    /* ************************** */

    .panel-5 {
        /* border: 4px solid blue; */
        margin-left: 10%;
        margin-right: 5%;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
        flex-wrap: wrap;
    }

    /* logo */

    .panel-5 .logo-container {
        /* border: 1px solid green; */
        margin: unset;
        padding: unset;
    }

    .panel-5 .text-emphasis {
        margin: unset;
        padding: unset;
    }

    /* footer menu */

    .panel-5 .footer-menu {
        /* border: 5px solid black; */
    }

    .panel-5 ul {
        /* border: 1px solid red; */
        flex-wrap: wrap;
        align-items: flex-start;
        height: 80px;
    }

    .panel-5 li {
        /* margin-left: 70px; */
        margin-right: 70px;
    }

    /* email section */

    .panel-5 .email {
        /* border: 4px solid turquoise; */
        width: unset;
        align-items: flex-start;
    }

    .email-header {
        padding-bottom: 15px;
        /* padding: 40px 0; */
        /* border: 1px solid red; */
    }

    form {
        max-width: unset;
        height: 40px;
    }

    input[type="email"]{
        width: 300px;        
    }

    /* copyright */
    .copyright {
        /* border: 1px solid maroon; */
        width: 100%;
    }



    /* social media */   

    .social-media-icons {
        display: none;
    } 





}
