* {
    margin: unset;
    padding: unset;
    font-size: unset;
}


html, body {
    font-family: Hellix;
    color: #111235;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.outermost-container {
    max-width: 414px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo-container, h1 {
    font-weight: 500;
}

.logo-container {
    height: 75px;
    width: 414px;
    font-size: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 1px 0px #0000000A,
        0px 2px 6px 0px #0000000A,
        0px 10px 20px 0px #0000000A;
    /* border: 1px solid red; */
    margin-bottom: 40px;
}

.divider {
    width: 414px;
    height: 1px;
    
}

.panel {
    height: 860px;
    width: 414px;
}

.panel-1 {
}

.panel-1 .body-text-container {    
    text-align: center;
}

img {
    width: 100%;
    margin-bottom: 40px;
}

h1 {    
    font-size: 64px;
    line-height: 75px;
    margin-bottom: 25px;
}

.body-text-container {
    max-width: 384px;
}

.body-text {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 59px;
    width: 252px;
    border: 1px solid black;
    border-radius: 30px;
    font-weight: 600;
    font-size: 18px;
    margin: 0 auto;
}

.panel-1 .button {
    margin-top: 25px;
}

.standard-button {
    background-color: #4B5092;
    color: #ffffff;
}

.word-emphasis {
    font-weight: 700;
}

panel-2 {
    height: 686px;
}

panel-3 {
    height: 942px;
}

panel-4 {
    height: 1876px;
}

/* I am including the last blank section after the copyright in this panel. */
panel-5 {
    height: 840px;

}

panel-6 {

}
