* {
    margin: unset;
    padding: unset;
    font-size: unset;
}


html, body {
    font-family: Hellix;
    color: #111235;
}

.logo-container, h1 {
    font-weight: 500;
}

.logo-container {
    font-size: 36px;
}

h1 {
    font-size: 64px;
    line-height: 75px;
}

.body-text {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 59px;
    width: 252px;
    border: 1px solid black;
    border-radius: 30px;
    font-weight: 600;
    font-size: 18px;
}

.standard-button {
    background-color: #4B5092;
    color: #ffffff;
}

.word-emphasis {
    font-weight: 700;
}