/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    .logo-and-nav-container {
        justify-content: space-between;
        width: unset;
        margin: 0 50px;
    }

    .logo-container {
        width: unset;

    }

    .logo-container {
        box-shadow: unset;
    }

    nav {
        display: block;
        width: 30%;
        display: flex;
        justify-content: space-between;
        align-items: center;  
        font-size: 16px;             
        font-weight: 500;
        font-family: Hellix;
        margin-right: 65px;
    }

    nav a {
        text-decoration: none;
    }

    .panel-1 {
        flex-direction: row-reverse;
    }

    .panel-1, .panel-2 {
        margin-left: 50px;
    }

    

    .text-content {
        padding-top: 200px;
        align-items: flex-start;
    }

    .panel-1 h1, .panel-1 p {
        text-align: left;
    }

    .panel-2 {
        flex-direction: row;
        margin-right: 100px;
        /* border: 1px solid black; */
    }

    .panel-2-top {
        border:? 1px solid red;
        margin: unset;
        width: 50%;
    }

    .panel-2 img {
        /* border: 1px solid magenta; */
        margin: unset;
    }

    .panel-2-bottom {
        /* border: 1px solid green; */
        display: flex;
        align-items: center;
        border-radius: 50px;
        margin: unset;
        width: 50%;
    }

    .panel-2 .text-content {
        /* border: 1px solid purple; */
        margin: 0 16% 0 12%;
        padding: unset;
    }




}
