* {
    margin: unset;
    padding: unset;
    font-size: unset;
    font-family: unset;
    color: unset;
}


html, body {
    font-family: Hellix;
    color: #111235;
    background: linear-gradient(7.28deg, #EEF5FF 0%, #FFFFFF 99.69%);
}

.logo-and-nav-container {
    box-sizing: border-box;
    width: 100vw;
    display: flex;
    justify-content: center;
    /* border: 1px solid black; */
}

nav {
    display: none;
}

.logo-container, h1 {
    font-weight: 500;
}

.panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* ************************** */
/*          Panel-1           */
/* ************************** */

.panel-1, .panel-2-top, .panel-2-bottom 
.text-content {
    margin: 35px 10px;
}

.panel-1 h1 {
    margin: 20px 10px 20px;
}

.panel-1 p {
    margin-bottom: 40px;
}

.panel-1 h1, .panel-1 p {
    text-align: center;
}

.panel-1 img {
    width: 95%;
}

.text-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-container {
    font-size: 36px;
    height: 75px;
    width: 100%;
    box-shadow: 0px 0px 1px 0px #0000000A,
        0px 2px 6px 0px #0000000A,
        0px 10px 20px 0px #0000000A;
    display: flex;
    justify-content: center;
    align-items: center;
}


h1 {
    font-size: 64px;
    line-height: 75px;
}

h2 {
    font-size: 48px;
    font-weight: 500;
    line-height: 57.6px;
}

h3 {
    font-size: 18px;
    font-weight: 500;
}

h4 {
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
}


.body-text {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}


.button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 59px;
    width: 252px;
    /* border: 1px solid black; */
    border-radius: 30px;
    font-weight: 600;
    font-size: 18px;
}

.standard-button {
    background-color: #4B5092;
    color: #ffffff;
}

.text-emphasis {
    font-weight: 700;
}  

/* Temporary style */
.panel-1, .panel-2, .panel-3 {
    /* display: none; */
}
/* Temporary style */

/* ************************** */
/*          Panel-2           */
/* ************************** */

.panel-2 {
    margin-bottom: 50px;
}

.panel-2-top {
    margin-top: 110px;
}

.panel-2-top img {
    margin-bottom: 40px;
}

.panel-2-bottom {    
    background-color: #F2F8FF;
}

.panel-2-bottom .text-content {
    align-items: flex-start;
    padding-bottom: 20px;
}

.panel-2-bottom h2 {
    text-align: left;
    margin-top: 20px;
    margin-bottom: 25px;
}

/* ************************** */
/*          Panel-3           */
/* ************************** */

.panel-3 {
    background: linear-gradient(99.85deg, #BAD5FF 0%, #6487BF 100%);
    padding-top: 90px;
    margin-bottom: 115px;
}

.panel-3 h2 {
    text-align: center;
}

.panel-3 h3 {
    margin-top: 15px;
    margin-bottom: 35Px;
    text-align: center;
}

.panel-3 .text-content {
    margin-bottom: 50px;    
}

.panel-3 p {
    text-align: center;
    margin: 0 20px 0;
}

.secondary-button {
    background-color: #ffffff;
    color: #436BAA;
}

.panel-3 .button {
    margin-top: 40px;
}

/* ************************** */
/*          Panel-4           */
/* ************************** */
.panel-4 {
    /* align-items: center; */
}

.panel-4 h2 {
    margin: 65px 10px 0;
}

.panel-4 .text-content{
    margin: 0 10px 0;
}

.panel-4 h2 {
    margin-bottom: 25px;
}

.sub-panel {
    border-radius: 30px;
    margin: 5px 3px;
    padding: 40px 25px;
}

.color-1 {
    background-color: #E4F0FF;
}

.color-2 {
    background: #727AEF1A;
}

.sub-panel h4 {
    margin-bottom: 17px;
}

.sub-panel-body-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.panel-4 .button {
    margin: 30px auto 50px auto;
}

.divider {
    width: 95%;
    border: 1px solid #0000004D;
}