* {
    margin: unset;
    padding: unset;
    font-size: unset;
    font-family: unset;
    color: unset;
}


html, body {
    font-family: Hellix;
    color: #111235;
    min-height: 100vh;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    background: linear-gradient(7.28deg, #EEF5FF 0%, #FFFFFF 99.69%);
}

.outermost-container {
    max-width: 414px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo-container, h1 {
    font-weight: 500;
}

.logo-container {
    height: 75px;
    width: 414px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 1px 0px #0000000A,
        0px 2px 6px 0px #0000000A,
        0px 10px 20px 0px #0000000A;
    margin-bottom: 40px;
}

.logo {    
    font-size: 36px;    
}

.panel {
    /* border: 1px solid black; */
    height: 860px;
    width: 414px;
    margin-bottom: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.panel-1 {
}

.panel-1 .body-text-container {    
    text-align: center;
}

img {
    width: 100%;
}

.panel-1 img {    
    margin-bottom: 40px;
}

h1 {    
    font-size: 64px;
    line-height: 75px;
    margin-bottom: 25px;
}

.body-text-container {
    max-width: 382px;
}

.body-text {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 59px;
    width: 252px;
    border-radius: 30px;
    font-weight: 600;
    font-size: 18px;
    margin: 0 auto;
}

.panel-1 .button {
    margin-top: 25px;
}

.standard-button {
    background-color: #4B5092;
    color: #ffffff;
}

.word-emphasis {
    font-weight: 700;
}

panel-2 {
    /* height: 686px; */
    height: 665px;
}

.panel-2 img {
    margin-bottom: 80px;
}

h2 {
    font-size: 48px;
    font-weight: 500;
    line-height: 58px;    
}

.panel-2 h2 {
    margin-bottom: 20px;
}

.panel-3 {
    height: 942px;    
    background: linear-gradient(99.85deg, #BAD5FF 0%, #6487BF 100%);
    position: relative;
}

.panel-3 h2 {
    margin-top: 80px;
    margin-bottom: 10px;
}

/* TEMPORARY STYLES */
.panel-1, .panel-2, .panel-3, .panel-4 {
    /* display: none; */
}
/* TEMPORARY STYLES */

h4, h5 {
    font-size: 18px;
}

h5 {
    font-weight: 600;
}

.panel-3 h4 {
    text-align: center;
    font-weight: 500;
    margin-bottom: 30px;
}

.panel-3 p {
    text-align: center;
}

.panel-3 .sign-up-button {
    margin-top: 30px;
    background-color: #FFFFFF;
    color: #436BAA;
}

.panel-3 img {
    position: absolute;
    bottom: 0px;
}

.panel-4 {
    height: 1876px;
    margin-bottom: 86px;
}

.panel-4 img {
    margin-bottom: 40px;
}

.panel-4 h2 {
    margin-bottom: 40px;
}

.sub-panel {
    width: 382px;
    height: 274px;
    margin-bottom: 20px;
    border-radius: 30px;
}

.sub-panel-inner-container {
    padding-top: 50px;
    margin-left: 40px;
    margin-right: 54px
}

.sub-panel-inner-container p {
    margin-left: 2px;
}

h3 {
    font-size: 24px;
    line-height: 28.8px;
    font-weight: 700;
    margin-bottom: 20px;
}

.color-1 {
    background-color: #E4F0FF;    ;
}

.color-2 {
    background-color: #727AEF1A;
}

.panel-4 .button {
    margin-top: 20px;
}

.divider {
    width: 401px;
    height: 1px;
    background: #0000004D;
    margin-bottom: 50px;

}

/* I am including the last blank section after the copyright in this panel. */
.panel-5 {
    height: 840px;
}

.panel-5 .logo {
    margin-bottom: 50px;
}

ul {
    list-style-type: none;
}

li {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 35px;
    text-align: center;
}

.panel-5 h5 {
    margin-right: 38px;
    margin-top: 15px;
    margin-bottom: 16px;

}

input[type=email] {
    height: 40px;
    width: 255px;
    border: none;
    border-radius: 5px;
}

form {
    position: relative;
    margin-bottom: 24px;
}

input[type=email]::placeholder {
    padding-left: 14px;
    color: #111235;
    font-weight: 500;
    font-size: 14px;
}

#email-icon {
    width: 18px;
    height: 18px;
    position: absolute;
    right: 7px;
    top: 50%;
    transform: translateY(-50%);
}

.social-media-logo-container {
    width: 176px;
    height: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.single-logo-container {
    height: 32px; 
    width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-media-logo-container img {
    width: 17.7px;
    z-index: 99;
}

.img-background-container {  
    background-color: #80ADF5; 
    height: 32px;
    width: 32px;
    position: absolute;
    opacity: .2;
    border-radius: 16px;
}

#copyright {
    margin-top: 60px;
    font-size: 14px;
    font-weight: 500;
}/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {...}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {...}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {...}



/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {...}

